/.env
/wp-cli.local.yml
/.data/
/vendor/
/wp-config.php
/public/*
!/public/index.php
!/public/wp-config.php
!public/mu-plugins
/public/mu-plugins/*
!public/mu-plugins/secure.php
/node_modules/
/docker-compose.override.y*ml
