/.env
/.data
/vendor
/public/core
/public/themes
/public/uploads
/public/plugins
/public/mu-plugins
/public/languages
/public/upgrade

## Drop-ins, remove if one is part of project
/public/advanced-cache.php
/public/db.php
/public/db-error.php
/public/install.php
/public/maintenance.php
/public/object-cache.php
/public/php-error.php
/public/fatal-error-handler.php
/public/sunrise.php
/public/blog-deleted.php
/public/blog-inactive.php
/public/blog-suspended.php
